# Virtual environment
.venv/
venv/
env/

# Cache files
__pycache__/
*.pyc
.spotdl-cache

# FFmpeg binaries (too large for GitHub)
ffmpeg-master-latest-win64-gpl/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
